
mixin modal_win
  div#modal_win.modal.fade(data-backdrop="static", tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
    div.modal-dialog(role='document')
      div.modal-content
        div.modal-header
          h4#myModalLabel.modal-title Game Over
        div.modal-body
          h3(data-dojo-type="dojox/mvc/Output", data-dojo-props="value:at(model,'game_finished')") ${this.value}
          h1(data-dojo-type="dojox/mvc/Output", data-dojo-props="value:at(model,'game_points')") ${this.value}
        div.modal-footer
          button#btn-restart-game.btn.btn-primary(type='button') Play Again?

mixin modal_start
  div#modal_start.modal.fade(data-backdrop="static",tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
    div.modal-dialog(role='document')
      div.modal-content
        div.modal-header
          h4#myModalLabel.modal-title WikiMeta - The Game
        div.modal-body
          p Place each new card in the slot you think it belongs, the objective of the game is to create an accurate timeline.
          p Choose a Category to start a game
          center 
            table
              tr
                td
                  button.col-xs-6.wm-category-button.btn.btn-default(type='button',data-category= "movies-90s", data-toggle='button', aria-pressed='false', autocomplete='off')
                    strong 90's Movies
                td
                  button.col-xs-6.wm-category-button.btn.btn-default(type='button',data-category= "movies-90s", data-toggle='button', aria-pressed='false', autocomplete='off')
                    strong Single toggle
              tr
                td
                  button.col-xs-6.wm-category-button.btn.btn-default(type='button',data-category= "movies-90s", data-toggle='button', aria-pressed='false', autocomplete='off')
                    strong Single toggle
                td
                  button.col-xs-6.wm-category-button.btn.btn-default(type='button',data-category= "movies-90s", data-toggle='button', aria-pressed='false', autocomplete='off')
                    strong Single toggle
        div.modal-footer
          div Inspired by the History 101 game included in 
            a(href='http://metaga.me/') The Metagame

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    title WikiMeta - The Game
    link(href='https://fonts.googleapis.com/css?family=Questrial', rel='stylesheet', type='text/css')
    // Latest compiled and minified CSS
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7', crossorigin='anonymous')
    // Optional theme
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css', integrity='sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r', crossorigin='anonymous')
    link(rel='stylesheet', href='stylesheets/style.css')
  body
    script(type="dojo/require").
      at: "dojox/mvc/at"
    div.container-fluid.wm-navbar
      div.row
        div.col-xs-4
          a.navbar-brand(href='#') WikiMeta
        div.col-xs-4.text-center
          strong.wm-score(data-dojo-type="dojox/mvc/Output",data-dojo-props="value: at(model, 'game_points')") ${this.value} points
        div.col-xs-4
          p.navbar-text.pull-right(data-dojo-type="dojox/mvc/Output",data-dojo-props="innerHTML: at(model, 'game_time')")
    block content
    div.wm-templates
      block templates
    +modal_win
    +modal_start
    script(type='text/javascript').
      var dojoConfig={
      baseUrl: './',
      async:true,
      parseOnLoad:true,
      packages: [
      { name: "webapp", location: "webapp"},
      { name: "dstore", location: "dstore"}
      ]
      };
    script(src='//ajax.googleapis.com/ajax/libs/dojo/1.10.4/dojo/dojo.js')
    block bottom_javascript
    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    // Latest compiled and minified JavaScript
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js', integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS', crossorigin='anonymous')




